/
<!doctype html>
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Sankaty Consulting, LLC
    %meta{:content => "Sankaty Consulting Public Web Presence", :name => "description"}/
    %meta{:content => "boorad", :name => "author"}/
    %meta{:content => "http://images.fineartamerica.com/images-medium-large/sankaty-head-lighthouse-nantucket-jack-flash.jpg", :name => "background image credit"}/
    %link{:href => "lib/bootstrap/css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "css/app.css", :media => "screen", :rel => "stylesheet"}/
    %script{:src => "lib/jquery/jquery.min.js"}
    %script{:src => "lib/bootstrap/js/bootstrap.min.js"}
    %script{:src => "js/init.js"}
    :css
  %body
    %nav.navbar.navbar-default.navbar-fixed-top( role="navigation" )
      .container-fluid
        .navbar-header
          %button.navbar-toggle( type="button" data-toggle="collapse" data-target="#sgi-navbar-collapse-1" )
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand( href="#" ) Sankaty Consulting

        #sgi-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li#s_home.active
              %a( href="#home" ) Home
            %li#s_about
              %a( href="#about" ) About Us
            %li#s_contact
              %a( href="#contact" ) Contact

    / Section #1
    %section#home{"data-speed" => "6", "data-type" => "background"}
      .container
        .row
          .col-md-3
          .col-md-9.text-center.content-box
            %h2 Modern Analytics Systems and Strategy
            %p
              Sankaty Consulting provides expert strategy and implementation services for state-of-the-art analytics systems.

    / Section #2
    %section#about{"data-speed" => "4", "data-type" => "background"}
      .container
        .row
          .col-md-3
          .col-md-4.well.content-box
            %h2 Marketing Strategy
            %p asf
          .col-md-1
          .col-md-4.well.content-box
            %h2 Big Data Analytics
            %p Founded by industry veterans who built the largest commercial Big Data deployments, Sankaty has the experience to help you better understand your customers' behaviors, monitor large scale mission critical systems, and transform your business into an IT driven organization.

    / Section #3
    %section#contact{"data-speed" => "2", "data-type" => "background"}
      .container
        .page-header
          %h1
            Sankaty Consulting
            %small Atlanta, Georgia, USA
        .row
          .col-md-6
            %h2 Background
            %p Sankaty Consulting is one of the world's most advanced analytics consulting firms. We work with top executives to help them make better decisions, convert those decisions to actions, and deliver the sustainable success they desire. Since 1998, we've been passionate about achieving better results for our clients—results that go beyond financial and are uniquely tailored, pragmatic, holistic, and enduring.
            %h2 Contact Us
            .col-md-4
              %p email:
              %p
                %a( href="mailto:brad@sankatygroup.com" ) Brad Anderson
                %br
                %a( href="mailto:karen@sankatygroup.com" ) Karen Anderson
            .col-md-4
              %p phone:
              %p
                832.594.8404
                %br
                832.594.0813
            .col-md-4
              %p address:
              %p
                1261 Citadel Dr. NE
                %br
                Atlanta, GA  30324
          .col-md-6
            %h2 Expertise
            .media
              %a.pull-left{:href => "#"}
                %img.media-object{:src => "images/check.png"}/
              .media-body
                %h4.media-heading Marketing Strategy
                blah
            .media
              %a.pull-left{:href => "#"}
                %img.media-object{:src => "images/check.png"}/
              .media-body
                %h4.media-heading Modern Analytics
                New and vastly more capable data management systems are properly employed to deliver successful use case implementations.
            .media
              %a.pull-left{:href => "#"}
                %img.media-object{:src => "images/check.png"}/
              .media-body
                %h4.media-heading Implementation Services
                We’re familiar with a wide array of both legacy and modern Big Data technologies and can help you select an appropriate strategy to ensure a successful project.
          .col-md-4.hide
            %h2 Log In
            %form.form
              .control-group
                %label.control-label{:for => "inputEmail"} Email
                .controls
                  %input#inputEmail{:placeholder => "Email", :type => "text"}/
              .control-group
                %label.control-label{:for => "inputPassword"} Password
                .controls
                  %input#inputPassword{:placeholder => "Password", :type => "password"}/
              .control-group
                .controls
                  %label.checkbox
                    %input{:type => "checkbox"}/
                    Remember me
                    %br/
                    %br/
                  %button.btn.btn-success{:type => "submit"} Sign in
          / /.span4
